<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
<header th:replace = "layout/layout :: header"></header>

<div class = "container">
	<div>
		<img style="margin:0 auto" src="img/index.jpeg" width="80%"/>
	</div>
	<div class="row text-center" >
		<div class="col">
			<section>
				<h2>Nuestros Especialistas</h2>
				<a>
					<img src="img/medicos.jpeg" width="80%" alt="medicos"/>
				</a>
			</section>			
		</div>
		<div class="col ">
			<section>
				<h2>Separa una cita</h2>
				<a>
					<img width="80%" src="img/servicios.jpeg"/>
				</a>
			</section>
		</div>
	</div>
	
</div>

<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>