<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 class="text-center">
			Listado de citas de <span th:text="${paciente.nombre}">a</span>
		</h1>
		<a class="btn btn-primary" href="javascript:window.history.back()"
			style="float: right"><i class="fas fa-arrow-circle-left"></i></a>
		<div class="card text-center">
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Doctor</th>
							<th>Hora</th>
							<th>Fecha</th>
						</tr>
					</thead>
					<tbody th:each="cita: ${citas}">
						<tr>
							<td th:text="${cita.id}">citas works</td>
							<td th:text="${cita.doctor.name}">citas works</td>
							<td th:text="${cita.hora}">citas works</td>
							<td th:text="${cita.fecha}">citas works</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>